$didact-gothic: 'Didact Gothic', sans-serif;
$roboto: 'Roboto', sans-serif;

$txt-primary: #324B4D;
$txt-header: #FEAC5E;
$regular-font: 0.8rem;

$purple-background: #7303c0;
$regular: 400;
$medium: 500;
$bold: 700;
