$didact-gothic: 'Didact Gothic', sans-serif;
$roboto: 'Roboto', sans-serif;

$txt-primary: #324b4d;
$txt-header: #4bc0c8;
$txt-sml-header: #feac5e;

$purple-background: #7303c0;
$regular: 400;
$medium: 500;
$bold: 700;
