$font-stack: 'Work Sans', sans-serif;
$font-size: 18px;

$gradient-color: linear-gradient(296deg, #c0257f, #e09b31, #a2e369);
$gradient-background-size: 600% 600%;



@mixin gradient-background {
  -webkit-animation: AnimationName 38s ease infinite;
  -moz-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}
