@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: $didact-gothic;
  font-weight: $regular;
  color: $txt-primary;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  font-size: 0.7rem;
  display: inline-block;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

a {
  text-decoration: none;
  color: white;
}

ul, li {
  list-style-type: none;
      padding-left: 0;
      display: flex;
      justify-content: center;
      padding: 0.5rem;
}

.navbar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .navbar-ul {
    list-style: none;
    flex-direction: column;
    justify-content: flex-end;
  }

  .navbar-item {
    padding: 2rem;
    color: white;
    &:hover {
      @include hover;
    }
  }
}

// Banner //

.banner {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(
    to left,
    #FEAC5E,
    #C779D0,
    #4BC0C8
  );
  background: linear-gradient(to left, #FEAC5E, #C779D0, #4BC0C8);
  background-size: 200% auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-position 1.7s;
}

.banner-text {
  text-align: center;
  border: 0.1rem solid;
  border-color: linear-gradient(to left, #FEAC5E, #C779D0, #4BC0C8);
  padding: 3rem;
}

.banner:hover {
  background-position: right center; /* change the direction of the change here */
}

.banner-animation {
  animation-duration: 1.2s;
  animation-name: bounceInUp;
  color:white;
}

.banner-animation-delay {
  @extend .banner-animation;
  transition-delay: 2s;
}

@keyframes bounceInUp {
  @include bounceInUp;
}

.about {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.about__imageholder {
  width: 30%;
}

.about__image {
  width: 100%;
}

.social * {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.skills__table {
  margin: auto;
}

table {
  width: 75%;
  border-spacing: 0;
  border: 0.1rem solid #4BC0C8;
}

th,
td {
  padding: 0.8rem;
  text-align: center;
}

/* projects */

.projects__homesafe {
  color: #FEAC5E;
}

.projects__homesafe__image {
  width: 15rem;
}
